@model IEnumerable<Employee_Management_System.Models.mvcEmployeeModel>

@{
    ViewBag.Title = "getempname";
}

@Styles.Render("~/Content/MainPage.css")

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="https://ajax.gooleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<link href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet" />



<h2>Employee Management System</h2>

<p>
    <a href="@Url.Action("Index","Home")" id="Log-btn">Logout</a>
    <a href="@Url.Action("AddorEdit","Department")" id="Dep-btn">Department</a>
    <a href="@Url.Action("AddorEdit","Employee")" id="Emp-btn">Employee</a>
</p>


<div class="table-position">
    <table id="mytable" class="table table-bordered">
        <thead>
            <tr>
                <th class="th-sm">
                    ID
                </th>
                <th class="th-sm">
                    First Name
                </th>
                <th class="th-sm">
                    Last Name
                </th>
                <th class="th-sm">
                    Date of Birth
                </th>
                <th class="th-sm">
                    Date of Joining
                </th>
                <th class="th-sm">
                    Designation
                </th>
                <th class="th-sm">
                    Grade
                </th>
                <th class="th-sm">
                    Basic
                </th>
                <th class="th-sm">
                    Dept Name
                </th>
                <th class="th-sm">
                    Gender
                </th>
                <th class="th-sm">
                    Marital Status
                </th>
                <th class="th-sm">
                    Home Address
                </th>
                <th class="th-sm">
                    Contact Num
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Emp_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Emp_First_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Emp_Last_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Emp_Date_of_Birth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Emp_Date_of_Joining)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Emp_Designation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Emp_Grade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Emp_Basic)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Emp_Dept_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Emp_Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Emp_Marital_Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Emp_Home_Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Emp_Contact_Num)
                    </td>
                    <td >
                       
                        <a href="@Url.Action("AddorEdit","Employee", new { id = item.Emp_ID })" id="New-Dep_Button" >Update</a>
                        
                    </td>
                    <td>
                        <a href="@Url.Action("Delete","MainPage", new { id = item.Emp_ID })" id="New-Emp_Button">Delete</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

<div class="Error_mes">
    @Html.Partial("_Notifications")
</div>


<script>
    $(document).ready(function () {
        $('#dtBasicExample').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });
</script>

<script>
    // Basic example
    $(document).ready(function () {
        $("#mytable").DataTable();
    });
</script>


